<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="nav-bar">
    <a class="navbar-brand" href="#">WEBIS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/displaycourses">courses</a>
        </li>
      </ul>

        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal"> Login</button>   
    </div>
  </nav>



<!-- -------------------------Login Modal------------------------------------------------------ -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <form >
          <div class="container">
           
          <div class="row">
      
            <div class="form-group col-sm">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" >
            </div>
          </div>
      
          <div class="row">
            <div class="form-group col-sm">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
               <button type="submit" class="btn btn-secondary btn-block" style="float: right;margin-top: 15px; margin-bottom: 30px;">Login</button>
            </div>
          </div>
        </div>
        </form>
      </div>
     
    </div>
  </div>
</div>
<!-- -------------------------End Login Modal------------------------------------------------------ -->