.sub-catergories{
  background-color: rgb(238, 245, 255);
}
.sub-catergory-course{
  margin-top: 40px;

}
a:hover{
  text-decoration: none;
  color:rgb(34, 34, 34);

}

.card{

  height: 350px;

}
.card-body{
border-top: solid white 1px;
background-color: rgb(224, 224, 224);
}
img{

  height: 200px;
}
form{
  margin-left: 50px;

}
h4{
  margin-top: 20px;
}
a{
  display: block;
  margin-top:20px;
}
