.sub-catergories{
  background-color: rgb(230, 230, 230);
  /* rgb(238, 245, 255); */
  padding-bottom:20px;

}
.sub-catergories a{
  color:black;
}
.sub-catergory-course{
  margin-top: 40px;

}
.sub-catergories a:hover{
  text-decoration: none;
  color:rgb(8, 104, 248);

}

.card{

  height: 380px;
  width: 18rem;
  margin-bottom: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.card:hover{
  box-shadow: 0px 0px 4px 2px rgb(9, 144, 255);
}
.card-body{
border-top: solid white 1px;
background-color: rgb(240, 240, 240);
}
img{

  height: 180px;
}
form{
  margin-left: 50px;

}
h4{
  margin-top: 20px;
}
a{
  display: block;
  margin-top:20px;
}
