<form style="margin-top: 100px;">
  <div class="container">

  <div class="row">

    <div class="form-group col-sm">
      <label for="courseTitle">Course Title</label>
      <input type="text" class="form-control" id="courseTitle"  >
    </div>
  </div>
  <div class="row">

      <div class="form-group col-sm">
        <label for="auther">Auther</label>
        <input type="text" class="form-control" id="auther"  >
      </div>
    </div>

  <div class="row">
    <div class="form-group col-sm">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="4"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm">

        <label for="Content">Content</label>
        <textarea class="form-control" id="Content" rows="5"></textarea>



    </div>
  </div>
  <div class="row">
    <div class="col-sm">
       <button type="submit" class="btn btn-secondary btn-block" style="float: right;margin-top: 15px; margin-bottom: 30px;">Add Course</button>
    </div>
  </div>
</div>
</form>
