
<div class="row" style="margin-top:57px;">
  <div class="col-sm-3 col-md-2 image" >
    <img src="{{loadedCourse.url}}">

  </div>
  <div class="col-sm-9 col-md-10 col-details">
      <div class="row details">
          <div class="col-12">
            <h3>{{loadedCourse.name}}</h3>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content
              .Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content
            </p>
            <p>Rating:**********</p>
            <p>{{loadedCourse.author}}</p>

          </div>


      </div>

      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Content</h1>
          <ul type="none">
            <li>topic 1</li>
            <hr>
            <li>topic 1</li>
            <hr>
            <li>topic 1</li>
            <hr>
            <li>topic 1</li>
            <hr>
            <li>topic 1</li>
            <hr>
            <li>topic 1</li>
            <hr>
            <li>topic 1</li>
            <hr>
            <li>topic 1</li>
            <hr>
            <li>topic 1</li>
            <hr>
          </ul>
        </div>
      </div>
  </div>


</div>
