
<div class="row" style="margin-top:57px;">
  <div class="col-sm-3 col-md-2 image" >
    <img src="{{loadedCourse.url}}">
    <div *ngIf="userService.loggedIn()">
      <!-- <button type="submit" class="btn btn-primary" (click)="onRegisterCourse()" [routerLink]="['/course',course.id,'enrolled']" routerLinkActive="router-link-active" >Enroll</button> -->
      <button type="submit" class="btn btn-primary"  [routerLink]="['/course',course,'enrolled']" routerLinkActive="router-link-active" >Enroll</button>

    </div>
  </div>
  <div class="col-sm-9 col-md-10 col-details">
      <div class="row details">
          <div class="col-12">
            <h3>{{loadedCourse.name}}</h3>
            <p>{{loadedCourse.description}}</p>
            <p>Author: {{loadedCourse.author}}</p>

          </div>


      </div>

      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Content</h1>
          <ul type="none" *ngFor="let course of loadedCourse.content1;">
            <li>{{course}}</li>
            <hr>

          </ul>
        </div>
      </div>
  </div>


</div>


